.followup-page-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    margin-top: 0%;
    background-color: transparent;
}

.followup-page-container > p{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
}

.followup-page-wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.followup-page-mapper{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(87, 87, 87);
    transition: all 500ms;
    width: 180px;
}

.followup-page-mapper:hover{
    transform: scale(1.01);
    border: 1px solid rgb(49, 49, 49);
}


.followup-page-mapper a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(87, 87, 87);
}