.setting-form-container{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    border: 1px solid rgb(207, 207, 207);
    height: 300px;
    width: 300px;
    margin-bottom: 400px;
    border-radius: 4px;
}

.setting-form-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.setting-form-wrapper p{
    font-size: 24px;
}

.setting-form-input{
    border: none;
    border-bottom: 1px solid rgb(145, 145, 145);
    outline: none;
    width: 100%;
    font-size: 18px;
    padding: 2px 5px;
}


.button {
    --color: #753ffd;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    top: 10px;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(255, 255, 255);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   